{% extends 'base.html' %}

{% block body %}

<div>
    <div class="container rounded shadow py-3">
        <center><h1>APP</h1></center>
    </div>
    <hr />
    <div class="container">
        {% if is_logged_in %}
            <div class="row">
                <div class="col-md-8">
                    <p>Welcome, {{ request.session.username }}!</p>
                    <p>You are currently logged in.</p>
                </div>
                <div class="col-md-4 rounded shadow">
                    <h3>Registered Users</h3>
                    <ul class="list-group">
                        {% for user in users_data %}
                            {% if user != request.user %}
                                <li class="list-group-item">
                                    {{ user.username }}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-8">
                    <p>Welcome to the app!</p>
                    <p>Please log in to access the full functionality.</p>
                </div>
                <div class="col-md-4 chatbot rounded shadow">
                    <h3>Chatbot</h3>
                    <div class="chatbot-messages">
                        {% for message in chat_history %}
                            <div class="message {% if message.sender == 'user' %}user-message{% else %}bot-message{% endif %}">
                                {{ message.content }}
                            </div>
                        {% endfor %}
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <input type="text" name="message" placeholder="Type your message" required>
                        <button type="submit">Send</button>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% endblock body %}
